body {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  > * {
    flex: 1;
    overflow-y: scroll;
  }
}

.edit-area {
  resize: none;
  border: 0;
  padding: 1em;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #24292e;
  &:focus {
    outline: none;
  }
}

.markdown-body {
  padding: 1em;
}
